:root {
  --site-bg: #0D0D0D;
  --section-bg: #222;
  --button-bg: rgb(255, 255, 255);
  --button-bg-hover: #d8d8d8;
  --navbar-bg: rgb(14, 9, 0);
  --card-bg: #111;
  --card-bg-hover: darkblue;
  --card-border: darkblue;
  --card-border-hover: blue;
  --title-color: wheat;
  --text-main: #fff;
  --text-secondary: #ccc;
  --accent-color: yellow;
}
