
.movie-skeleton-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  background: #111;
  border-radius: 8px;
  padding: 1rem;
}
.skeleton-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: linear-gradient(90deg, #222 25%, #333 50%, #222 75%);
  border-radius: 6px;
  margin-right: 0.5rem;
  vertical-align: middle;
}




.movie-skeleton-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: cover;
  background: #222;
}


.movie-skeleton-title {
  height: 40px;
  width: 90%;
  border-radius: 8px;
  margin: 0 auto 1rem auto;
  display: block;
}


.movie-skeleton-tagline {
  height: 28px;
  width: 70%;
  border-radius: 8px;
  margin: 0 auto 2rem auto;
  display: block;
}


.movie-skeleton-info {
  height: 28px;
  width: 80%;
  border-radius: 8px;
  margin: 0 auto 1rem auto;
  display: block;
}



.movie-skeleton-description {
  min-height: 120px;
  width: 98%;
  border-radius: 8px;
  margin: 0 auto 1.5rem auto;
  display: block;
  background: #222;
}
